/*Contenedor*/
.setion h2{
  color: #0875ba;
  font-weight: 600;}

.setion h3{
  color: #000;
  font-weight: 600;}

.setion{
  padding: 5.5rem 0 1rem;}

.setion__title,
.setion__title-center{
  font-size: 1.5rem;
  margin-bottom: 2rem;
  line-height: 140%;}

.setion__title-center{
  text-align: center;}

.continer{
  max-width: 1200px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;}

.grid{
  display: grid;}

/*STEPS*/
.contact .csection{
  background: #bdbdbf;
}

.steps__bg{
  background-color: #ff;
  padding: 3rem 2rem 2rem;
  border-radius: 1rem;}

.steps__continer{
  gap: 2rem;
  padding-top: 1rem;}

.steps__title{
  color: #0875ba;}

.steps__card{
  background-color: #bdbdbf;
  padding: 2.5rem 3rem 2rem 1.5rem;
  border-radius: 1rem;}

.steps__card-number{
  display: inline-block;
  background-color: #0875ba;
  color: #FFF;
  padding: .5rem .75rem;
  border-radius: .25rem;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  transition: .3s;}

.steps__card-title{
  font-size: 1rem;
  margin-bottom: 1.5rem;}

.steps__card-description{
  font-size: .875rem;}

.steps__card:hover .steps__card-number{
  transform: translateY(-.25rem);}

/*Boton de contacto*/
.button{
  display: inline-block;
  background-color: #0875ba;
  color: #FFF;
  padding: 1rem 1.75rem;
  border-radius: .5rem;
  font-weight: 500;
  transition: .3s;}

.button:hover{
  background-color: #bdbdbf;}

.button__icon{
  transition: .3s;}

.button:hover .button__icon{
  transform: translateX(.25rem);}

.button--flex{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;}

.button--link{
  color: #0875ba;
  font-weight: 500;}

.button--link:hover .button__icon{
  transform: translateX(.25rem);}

/*=Questions*/
.questions{
  background-color: #bdbdbf;}

.questions__container{
  gap: 1.5rem;
  padding: 1.5rem 0;}

.questions__group{
  display: grid;
  row-gap: 1.5rem;}

.questions__item{
  background-color: #fff;
  border-radius: .25rem;}

.questions__item-title{
  font-size: .875rem;
  font-weight: 500;}

.questions__icon{
  font-size: 1.25rem;
  color: #000;}

.questions__description{
  font-size:.813rem;
  padding: 0 1.25rem 1.25rem 2.5rem;}

.questions__header{
  display: flex;
  align-items: center;
  column-gap: .5rem;
  padding: .75rem .5rem;
  cursor: pointer;}

.questions__content{
  overflow: hidden;
  height: 0;}

.questions__item,
.questions__header,
.questions__item-title,
.questions__icon,
.questions__description,
.questions__content{
  transition: .3s;}

.questions__item:hover{
  box-shadow: 0 2px 8px rgba(0,0,0,0.5);}

/*Rotate icon, change color of titles and background*/
.accordion-open .questions__header,
.accordion-open .questions__content{
  background-color: #0875ba;}

.accordion-open .questions__item-title,
.accordion-open .questions__description,
.accordion-open .questions__icon{
  color: #FFF;}

.accordion-open .questions__icon{
  transform: rotate(45deg);}

/*=============== CONTACT ===============*/
.contact h2{
  color: #0875ba;
  font-weight: 24px;
  margin: 19.92px 0px 32px;}

.contact__container{
  row-gap: 3.5rem;}

.contact__data{
  display: grid;
  row-gap: 2rem;}

.contact__subtitle{
  font-size: 1rem;
  font-weight: 500;
  color: #0875ba;
  margin-bottom: .5rem;}

.contact__description{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color:  #000;
  font-weight: 500;}

.contact__icon{
  font-size: 1.25rem;}

.contact__inputs{
  display: grid;
  row-gap: 2rem;
  margin-bottom: 2.5rem;}

.contact__content{
  position: relative;
  height: 3rem;
  border-bottom: 1px solid #bdbdbf;}

.contact__input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 1rem 0;
  background: none;
  color: #bdbdbf;
  border: none;
  outline: none;
  z-index: 1;}

.contact__label{
  position: absolute;
  top: .75rem;
  width: 100%;
  font-size: .875rem;
  color: #0875ba;
  transition: .3s;}

.contact__area{
  height: 7rem;}

.contact__area textarea{
  resize: none;}

/*Input focus move up label*/
.contact__input:focus + .contact__label{
  top: -.75rem;
  left: 0;
  font-size:.75rem;
  z-index: 10;}

/*Input focus sticky top label*/
.contact__input:not(:placeholder-shown).contact__input:not(:focus) + .contact__label{
  top: -.75rem;
  font-size: .75rem;
  z-index: 10;}

/*Responsives*/
@media screen and (max-width: 320px){
  .container{
    margin-left: 1rem;
    margin-right: 1rem;}

  .steps__bg{
    padding: 2rem 1rem;}

  .steps__card{
    padding: 1.5rem; }}

@media screen and (min-width: 576px){
  .steps__continer{
    grid-template-columns: repeat(2, 1fr); }} 

@media screen and (min-width: 767px){
  .questions__container,.contact__container{
    grid-template-columns: repeat(2, 1fr);}

  .questions__container{
    align-items: flex-start; }}

@media screen and (min-width: 992px){
  .continer{
    margin-left: auto;
    margin-right: auto;}

  .setion{
    padding: 8rem 0 1rem;}

  .setion__title,
  .setion__title-center{
    font-size: 2.25rem;}

  .steps__continer{
    grid-template-columns: repeat(3, 1fr);}

  .steps__bg{
    padding: 3.5rem 2.5rem;}

  .steps__card-title{
    font-size: 1rem;}

  .questions__container{
    padding: 1rem 0 4rem;}

  .questions__title{
    text-align: initial;}

  .questions__group{
    row-gap: 2rem;}

  .questions__header{
    padding: 1rem;}

  .questions__description{
    padding: 0 3.5rem 2.25rem 2.75rem;}}       